# .NET
bin/
obj/
out/
.vs/
.vscode/
.idea/
*.user
*.userosscache
*.suo
*.cache
*.log
*.tmp

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# StyleCop
StyleCopReport.xml

# User-specific files
*.rsuser
*.sln.docstates

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
TestResult.xml
coverage/
*.coverage
*.coveragexml

# NCrunch
*.ncrunch*
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# JetBrains Rider
.idea/
*.sln.iml

# CodeRush personal settings
.cr/personal

# Benchmark
BenchmarkDotNet.Artifacts/

# Project-specific
publish/
PublishOutput/

# Environment
.env
.env.*
*.env

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

publish-aot/
